@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lato&display=swap')
layer(base);

@import 'tailwindcss';

@layer base {
  body, html, #__next {
    height: 100%;
  }
}

@theme {
  --font-title: Josefin Sans, sans-serif;
  --font-sans: Lato, san-serif;
}

/* set printing size */
@page {
  margin: 1.5rem 0;
  height: 11in;
  width: 8.5in;
}

@page nomargin {
  margin-bottom: 0;
}

@page :first {
  margin-top: 0;
}

/* for color printing */
@media print {
  :root {
    print-color-adjust: exact;
  }
}
