@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body, html, #__next {
    height: 100%;
  }
}

/* tailwind customizations */
@layer utilities {
  .shape-outside-tri-ur {
    shape-outside: polygon(0 0, 100% 0, 100% 100%);
  }

  .no-page-margin {
    page: no_margin;
  }
}

/* set printing size */
@page {
  /* NOTE must match padding / 4 */
  margin: 1.5rem 0;
  height: 11in;
  width: 8.5in;
}

@page no_margin {
  margin-bottom: 0;
}

@page :first {
  margin-top: 0;
}

/* for color printing */
@media print {
  :root {
    print-color-adjust: exact;
  }
}
